@import url(https://fonts.googleapis.com/css?family=Lora);
@import url('https://fonts.googleapis.com/css?family=Lekton');


body {
	background-color: #FFFFFF;
}

h1, p, ul, {
	color: #000000;
	font-family: Lekton, sans-serif;
	text-align: left;
	list-style-type: none;

}



#header {
	text-transform: uppercase;
	text-align: left;
	color: black;
	font-family: Lora, serif;
}

#slogan {
	font-style: italic;
	color: black;
	font-family: Lora, serif;
}




