@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Lekton);


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}



section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}

h1, p, ul, {
	color: #000000;
	font-family: Arial, sans-serif;
	text-align: center;
	list-style-type: none;

}

img	{width: 500px; 
	margin: 50 auto;
	display: center;
}

#cases {
	color: green;
	text-align: center;
	font-size: 24px;
	font-family: Arial, sans-serif;
	list-style-type: none;
	display: inline;
}


#contact {
	color: black;
	text-align: center;
	font-family: Arial, sans-serif;}

#header {
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-family: Arial, serif;
	font-size: 12px;

}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 46%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 46%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#header_img {
    float: left;
    padding: 20px;
}



